@tailwind base;
@layer base {
  p {
    @apply text-2xl;
  }
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Baloo";
  src: url("/assets/fonts/BalooDa2-Regular.eot");
  src: url("/assets/fonts/BalooDa2-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/BalooDa2-Regular.woff2") format("woff2"), url("/assets/fonts/BalooDa2-Regular.woff") format("woff"), url("/assets/fonts/BalooDa2-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #191923;
  color: #fff;
  font-family: baloo !important;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
