{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'm Programmer</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	<section id="hire">
        <h1>Contact Me</h1>
        
        <form method="POST">
            
              <div class="field name-box">
                    <input type="text" id="name" placeholder="Who Are You?"/>
                    <label for="name">Name</label>
                    <span class="ss-icon">check</span>
              </div>
    
              <div class="field email-box">
                    <input type="text" id="email" placeholder="name@email.com"/>
                    <label for="email">Email</label>
                    <span class="ss-icon">check</span>
              </div>
    
              <div class="field msg-box">
                    <textarea id="msg" rows="4" placeholder="Your message goes here..."/></textarea>
                    <label for="msg">Msg</label>
                    <span class="ss-icon">check</span>
              </div>
    
              <input class="button" type="submit" value="Send" />
      </form>
    </section>
        
</body>
</html>