{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'm Programmer</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	<section id="contact-form">
        <form method="POST" novalidate> {% csrf_token %}   
            {% if messages %}
            <div class="alert-info">
                {% for msg in messages %}
                    <p class="{{ msg.tags }}">{{ msg }}</p>
                {% endfor %}
            </div>
            {% endif %} 
            {{form.full_name}}
            {{form.email}}
            {{form.subject}}
            {{form.content}}
            <input type="submit" value="Send"/>
          </form>
    </section>
        
</body>
</html>